# Ignore all files in the current directory


# Ignore all files in subdirectories

*.DS_Store

#pytorch models
*.pt

#wandb
wandb/

#cache
cache/

#logs
logs/

#venv
.venv/

#realmVenv
realmVenv/

#pyc
*.pyc

#pdm-build
/.pdm-build

#uv 
/uv.lock

#ssh
/.ssh